<div class="signin row" ng-controller='authController'>

  <div class='login col-lg-12'>
		<div>
			<img class="pokeball" src="assets/pokeball.png"  width="400px" height="400px" />
		</div>
		
		 <div class="login-box col-lg-12">
			 <form ng-show="phase=='start'" ng-submit="sendCode()">
				<p> To play, enter a valid email address and a login token will be sent to you! </p>
				<p> 
					<input class="input" type="email" placeholder="Enter email" ng-model="user.email"> 
					<button class="button" type="submit" value="Login"> Send Code </button>
				</p>
			</form>
			<form ng-show="phase=='email'" ng-submit="verifyCode()">
				<p> Login token sent to <b>{{user.email}}</b> expires in 8 minutes...</p>
				<p> 
					<input class="input" type="text" placeholder="Enter code" ng-model="user.code">
					<button class="button" type="submit" value="Login"> Login </button>
				</p>
			</form>
			<p> {{message}}</p>
		</div>
		
		<div class="credits">
			<p>
				This application is a recreation of the Pokemon Master Trainer Board Game (which is no longer in production). 
				The authors of this site take no credit for the board game made by Milton Bradley nor do they take credit 
				for any of the artwork displayed on the page.
			</p>
			<p> Application creators: Linda Zou, Hitesh Lala, Arthi Palaniappan and Alex Chou. </p>
		</div>
  </div>

  <div class='themesong col-lg-12'>
	<audio autoplay>
	  <!-- <source src="http://216.227.134.162/ost/pokemon-yellow-blue-red-gb-/oacqzkmnml/01-opening-part-1-.mp3" type="audio/mpeg"> -->
	  Your browser does not support the audio tag.
	</audio>
	</div>

</div>
