
<div class="home" fxLayout="column" fxLayoutAlign="start center">
  <div class="newGameSideBar item">
    <p>Logged in as <b><i> {{user.name}} </i></b> <input class="create-game-btn" type="button" value=" Log Out " (click)="logout()"> </p>
  </div>

  <div class="item">
    <p>
      Create or join an existing game to play with other trainers. 
      Explore the world map, catching various Pokemon and become a Pokemon Master amongst your peers!
    </p>  
  </div>
  
  <form class="item">
    <input class="create-game-input" type="text" placeholder="Enter new game name" [(ngModel)]="newGameName" name="game-name"> 
    <input class="create-game-btn" type="button" value=" Create Game " (click)="makeNewGame()">
  </form>
  
  <div fxLayout="row wrap" fxLayoutAlign="start center">
    <div class="game-panel item">
      <p><b>{{user.name}}'s Games</b> ({{myGames.length}})</p>
      <div class="game-content">
        <p *ngFor="let game of myGames">
          <a (click)="joinLobby( game.gameId, game.gameStarted, game.gameEnded )" class="game-name">{{game.gameName}}</a>
        </p>
      </div>
    </div>
    
    <div class="game-panel item" >
      <p><b> Waiting For Players </b> ({{availGames.length}})</p>
      <div class="game-content">
        <p *ngFor="let game of availGames">
          <a (click)='joinLobby( game.gameId, game.gameStarted, game.gameEnded )' class="game-name"> {{game.gameName}} </a>
        </p>
      </div>  
    </div>
  </div>
  
  <div>
    <p *ngIf="message">{{message}} - <span (click)="clearMessage()">close</span></p>
  </div>
  
</div>
  
  <!-- <button (click)="printstate()"> Debug Print</button> -->