<div>
  <h3>{{currentTurnPlayerName}} is wandering in the tall grass!</h3>
  <h3>A wild {{name}} appeared!</h3>
  <div class="col-lg-12 text-center">
    Name:<span> {{name}}</span>
    <br /><br />
    <div> <img class="pokeMove" src = {{imageUrl}} ></div>
    <br /><br />
    Description:<span> {{description}}</span>
    <br /><br />
    <p>To capture {{name}} {{currentTurnPlayerName}} must roll a {{ rollNeeded }}.</p>
  </div>
  <div ng-if="diceRolled===false && currentTurnPlayerId===facebookId" >
    <button class="tn-lg btn-primary" ng-click ="rollDice()" > Roll Dice & Catch</button>
    <br /><br />
  </div>

  <div class="result-panel">
    <p ng-if="currentTurnPlayerId !== facebookId && diceRolled === false">Waiting for {{currentTurnPlayerName}} to roll</p>
    <div ng-if="diceRolled && currentTurnPlayerId !== facebookId">
      <p>{{currentTurnPlayerName}} rolled a {{rollvalue}} </p>
      <p>{{result}}</p>
      
    </div>
  </div>

  <li ng-repeat = "oneDice in dice track by $index">
  <div> <img class="dice" src = {{oneDice}} ></div>
  </li>

  <br /><br />
  <div ng-if="diceRolled && currentTurnPlayerId===facebookId">
    Result: <span>{{result}}</span>
    <br /><br />
    <button class="tn-lg btn-primary" ng-click="updateTurn()">Continue</button>
  </div>
</div>