
.trainer-pokemon {
  border: 1px solid darkcyan;
  border-radius: 5px;
  margin: 3px;
  min-width: 100px;
  min-height: 125px;
  padding: 5px;
  text-align: center;
}

.trainer-pokemon:hover {
  background-color: darkcyan;
}

.selected {
  background-color: darkcyan;
}

