<div>
  <div class="text-center">
    <h3>Hey {{ gameTurnName }}! Choose Your Trainer And Starter Pokemon! </h3>
  </div>
  <div class="vertical-center-row">
    <div class="text-center">
    <h3>Trainer:</h3>
      <ul>
        <li *ngFor="let sprite of spriteList" >
          <div class="text-center">
            <div class="panel panel-primary pokemon-box" type='radio' info='pokemon' style="height: 125px">
              <img class="sprite" [attr.src]="sprite.imageURL" >
            </div>
            <div class="radio">
              <label><input type="radio" name="optSprite" (click)="selectSprite(sprite)">{{ sprite.name }}</label>
            </div>
          </div>    
        </li>
      </ul>
    </div>

    <div class="text-center">
    <h3>Starter Pokemon:</h3>
      <ul>
        <li *ngFor="let pokemon of list" >
          <div class="text-center">
            <div class="panel panel-primary pokemon-box" type='radio' info='pokemon' style="height: 125px">
              <img class="pokemonGif" [attr.src]="pokemon.gifURL" >
            </div>
            <div class="radio">
              <label><input type="radio" name="optradio" (click)="getStarter(pokemon)">{{ pokemon.name }}</label>
            </div>
          </div>    
        </li>
      </ul>
    </div>
  </div>

  <div class="text-center">
    <p *ngIf="message">{{message}}</p>
    <button class="text-center" *ngIf='user.email===gameTurnEmail' (click)="playerInit()"> Select </button>
  </div>
</div>


<!-- <button (click)="printstate()">Debug State</button> -->