/* All Pages */

.shared {
  background-color: #63C0FB;
  color: white;
}

input {
  color: #125986;
  background-color: #D9E1E5;
}

/*  Sign In Page   */
.login {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.pokeball {
  -webkit-transform: rotate(19deg);  /* to support Safari and Android browser */
  -ms-transform: rotate(19deg);      /* to support IE 9 */
  transform: rotate(19deg);
}

/* Home View  */
.home {
  text-align: center;
}

.gameContent {
  overflow: scroll;
}

/* Lobby View  */
.lobby {
  text-align: center;
}

/*  Board View  */
.player {
  transition: x 1s,  y 1s, cx 1s, cy 1s;
}
 
/*  Starter View  */
.radio {
  color: #125986;
}

/* Capture View  */
.dice {
    width: 30px;
    height: 30px;
}

/* resize images */
.dice img {
    width: 100%;
    height: auto;
}

.pokeMove {
    margin-top: 10;
    margin-bottom: 25px;
    width: 150px;
    height: 100px;
}

/* resize images */
.pokeMove img {
    width: 100%;
    height: auto;
}

.pokemonCap {
  color: #125986;
}

.map {
  width: 78%;
  display: inline-block;
  vertical-align: top;
}

.control-panel {
  display: inline-block;
  width: 18%;
  vertical-align: top;
}

.pokemon {
  display: inline-block;
  margin: 0 2%;
}

.pokemonName {
  text-align: center;
}

.pink {
  color: pink;
  background-color: pink;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.party {
  white-space: nowrap;
}

hr{
    height:1px;
    padding:0px;
    margin:0px;
}

