/* All Pages */

.shared {
/*  background-color: #63C0FB;
*/  
  background-color: #71B55B;
  background-image: url('./assets/pokemonParty.png');
  color: white;
}


input {
  color: #125986;
  background-color: #D9E1E5;
}

/*  Sign In Page   */
.themesong {
/*  width: 100px;
  height: 10px;
*/
  text-align: center;
}

.login {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.pokeball {
  -webkit-transform: rotate(19deg);  /* to support Safari and Android browser */
  -ms-transform: rotate(19deg);      /* to support IE 9 */
  transform: rotate(19deg);
}

/* Home View  */
.home {
  text-align: center;
}

.home-text {
  text-align: left;
  margin-bottom: 2%;
  margin-top: 1%
}

.gameContent {
  overflow: scroll;
}

.create-game-btn, .create-game-input, .game-name, .home-text{
  font-size: 1.5em;
}


.game-panel {
  opacity: .75;
}




/* Lobby View  */
.lobby {
  text-align: center;
}

/*  Board View  */
.player {
  transition: x 1s,  y 1s, cx 1s, cy 1s;
}

.map-group {
  width: 96%;
  margin: 0 auto;
  max-height: 600px;
}

.map-panel, .control-panel {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.control-panel {
  background-color: #ffc;
  color: darkslateblue;
  opacity: 0.8;
  width: 18%;
  overflow: scroll;
}

.map-panel {
  width: 78%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.currentTurn {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.board-center {
  margin: 8px auto;
  display: block;
  text-align: center;
}

.player-options {
  min-height: 50px;
}

.space {
  margin: 30px 0 10px 0 ;
}

.pink {
  background-color: pink;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}

hr{
  height: 1px;
  padding: 0;
  margin: 0;
}

.scroll {
  width: 230px;
  height: 110px;
  overflow: scroll;
}

.scroll ul {
  display: table;
  white-space: nowrap;
  list-style: none;
  padding: 0;
}

.scroll li {
  display:table-cell; 
  text-align:center;  
  margin: 0 10px;     
}

.scroll img {
  border:0;
  display:block;
  margin:0px 15px 0 15px;
  padding: 0;
}

/*  Starter View  */
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.radio {
  color: #125986;
  background-color: white;
  border-radius: 12px / 12px ;
}

.pokemon-box {
  margin-top: 10;
  border-radius: 120px / 120px ;
}

.sprite {
  margin-top: 15px;
}

.pokemonGif {
  margin-top: 35px;
}
/* Capture View  */
.dice {
    width: 30px;
    height: 30px;
}

/* Event View  */
.event {
  text-align: center;
}

/* City View  */
.city {
  text-align: center;
}

/* Trainer View  */

.trainer {
  text-align: center;
}

.other-trainers {
  margin: auto;
}

.other-trainer {
  display: inline-block;
  margin:2% 5%;
}

.other-trainer-name {
  font-size: 1.2em;
}

/* resize images */
.dice img {
    width: 100%;
    height: auto;
}

.pokeMove {
    margin-top: 10;
    margin-bottom: 25px;
    width: 150px;
    height: 100px;
}

/* resize images */
.pokeMove img {
    width: 100%;
    height: auto;
}

.pokemonCap {
  color: #125986;
}
