/* All Pages */

.shared {
/*  background-color: #63C0FB;
*/  
  background-color: #71B55B;
  background-image: url('./assets/pokemonParty.png');
  color: white;
}


input {
  color: #125986;
  background-color: #D9E1E5;
}

/*  Sign In Page   */
.login {
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.pokeball {
  -webkit-transform: rotate(19deg);  /* to support Safari and Android browser */
  -ms-transform: rotate(19deg);      /* to support IE 9 */
  transform: rotate(19deg);
}

/* Home View  */
.home {
  text-align: center;
}

.gameContent {
  overflow: scroll;
}

/* Lobby View  */
.lobby {
  text-align: center;
}

/*  Board View  */
.player {
  transition: x 1s,  y 1s, cx 1s, cy 1s;
}

.map-group {
  width: 96%;
  margin: 0 auto;
  max-height: 600px;
}

.map-panel, .control-panel {
  display: inline-block;
  vertical-align: top;
  height: 100%;
}

.control-panel {
  background-color: #ffc;
  color: darkslateblue;
  opacity: 0.8;
  width: 18%;
  overflow: auto;
}

.map-panel {
  width: 78%;
  margin: 0 auto;
  padding: 0;
  border: 0;
}

.scroll-container {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.scroll-container ul {
  display: table;
}

.scroll-container li {
  display: table-cell;
}

.scroll-containers {
  overflow: auto;
  white-space: nowrap;
  width: 100%;
}

.scroll-containers ul {
  display: table;
}

.scroll-containers li {
  display: table-cell;
}








.party {
  white-space: nowrap;
  display: table;
}

.pokemon {
  display: table-cell;
  margin: 0 2%;
  width: auto;
}

.pokemonName {
  text-align: center;
}

.pink {
  color: pink;
  background-color: pink;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}


hr{
    height:1px;
    padding:0px;
    margin:0px;
}












 
/*  Starter View  */
.vertical-center-row {
    display: table-cell;
    vertical-align: middle;
}

.radio {
  color: #125986;
  background-color: white;
  border-radius: 12px / 12px ;
}

.pokemon-box {
  margin-top: 10;
  border-radius: 120px / 120px ;
}

.sprite {
  margin-top: 15px;
}

.pokemonGif {
  margin-top: 35px;
}
/* Capture View  */
.dice {
    width: 30px;
    height: 30px;
}

/* resize images */
.dice img {
    width: 100%;
    height: auto;
}

.pokeMove {
    margin-top: 10;
    margin-bottom: 25px;
    width: 150px;
    height: 100px;
}

/* resize images */
.pokeMove img {
    width: 100%;
    height: auto;
}

.pokemonCap {
  color: #125986;
}


.scroll {
width:230px;
height:120px;
margin:100px auto;
background:pink;
border:2px solid #000;
overflow:scroll;
box-shadow:0 0 10px #000;
}
.scroll ul {
display:table;
white-space:nowrap;
list-style:none;
}
.scroll li {
display:table-cell; 
text-align:center;       
}
.scroll img {
border:0;
display:block;
margin:15px 15px 0 15px;
}
.scroll a:active img, .scroll a:focus img, .scroll a:hover img {
border:1px solid #000;
}
.scroll a {
text-decoration:none;
font-weight:bold;
color:#000;
}
.scroll a:active, .scroll a:focus, .scroll a:hover {
color:#FFF;
}
.scroll span {
display:block;
}




/*.scrollz {
width:600px;
height:200px;
margin:100px auto;
background:#A3CBE0;
border:2px solid #000;
overflow:auto;
box-shadow:0 0 10px #000;
}
.scrollz ul {
display:table;
white-space:nowrap;
list-style:none;
}
.scrollz li {
display:table-cell; 
text-align:center;       
}
.scrollz img {
border:0;
display:block;
border:1px solid #A3CBE0;
margin:15px 15px 0 15px;
}
.scrollz a:active img, .scrollz a:focus img, .scrollz a:hover img {
border:1px solid #000;
}
.scrollz a {
text-decoration:none;
font-weight:bold;
color:#000;
}
.scrollz a:active, .scrollz a:focus, .scrollz a:hover {
color:#FFF;
}
.scrollz span {
padding:5px 0 0;
display:block;
}*/
