.winner {
  margin: 0 auto;
  /* display:inline;   */
}

.otherPlayers {
  font-size: 125%;
}

/* .gameWon {
  float: left;
} */

/* .winnerHeading {
  font-size: 150%; 
}*/

.saturn {
  /* position: absolute; */
  left: 225px;
  top: 270px;
  -webkit-animation: myOrbit 4s linear infinite;
  animation: myOrbit 4s linear infinite;
}
@keyframes myOrbit {
  from { transform: rotate(0deg) translateX(20px) rotate(0deg); }
  to   { transform: rotate(360deg) translateX(20px) rotate(-360deg); }
}

.circle {
  stroke:#006600; 
  stroke-opacity: 0.5; 
}

.green {
  fill: green;
}

.pink {
  fill: pink;
}

.white {
  fill: white;
}

.red {
  fill: red;
}

.blue {
  fill: blue;
}
