
.dice {
  height: 50px;
  width: 50px;
  border: 1px solid palevioletred;
  border-radius: 5px;
  background-color: bisque;
  margin: 5px;
}

.pip {
  border: 1px solid palevioletred;
  border-radius: 50%;
  background-color: palevioletred;
  width: 6px;
  height: 6px;
}

.face {
  position:relative;
}

.pip.pips-1.pip-1 {
  position: absolute;
  top: 21px;
  left: 21px;  
}

.pip.pips-2.pip-1 {
  position: absolute;
  top: 7px;
  left: 7px;  
}
.pip.pips-2.pip-2 {
  position: absolute;
  top: 35px;
  left: 35px;  
}

.pip.pips-3.pip-1 {
  position: absolute;
  top: 7px;
  left: 7px;  
}
.pip.pips-3.pip-2 {
  position: absolute;
  top: 35px;
  left: 35px;  
}
.pip.pips-3.pip-3 {
  position: absolute;
  top: 21px;
  left: 21px;  
}

.pip.pips-4.pip-1 {
  position: absolute;
  top: 7px;
  left: 7px;  
}
.pip.pips-4.pip-2 {
  position: absolute;
  top: 35px;
  left: 35px;  
}
.pip.pips-4.pip-3 {
  position: absolute;
  top: 7px;
  left: 35px;  
}
.pip.pips-4.pip-4 {
  position: absolute;
  top: 35px;
  left: 7px;  
}

.pip.pips-5.pip-1 {
  position: absolute;
  top: 7px;
  left: 7px;  
}
.pip.pips-5.pip-2 {
  position: absolute;
  top: 35px;
  left: 35px;  
}
.pip.pips-5.pip-3 {
  position: absolute;
  top: 7px;
  left: 35px;  
}
.pip.pips-5.pip-4 {
  position: absolute;
  top: 35px;
  left: 7px;  
}
.pip.pips-5.pip-5 {
  position: absolute;
  top: 21px;
  left: 21px;  
}

.pip.pips-6.pip-1 {
  position: absolute;
  top: 7px;
  left: 7px;  
}
.pip.pips-6.pip-2 {
  position: absolute;
  top: 35px;
  left: 35px;  
}
.pip.pips-6.pip-3 {
  position: absolute;
  top: 7px;
  left: 35px;  
}
.pip.pips-6.pip-4 {
  position: absolute;
  top: 35px;
  left: 7px;  
}
.pip.pips-6.pip-5 {
  position: absolute;
  top: 21px;
  left: 7px;  
}
.pip.pips-6.pip-6 {
  position: absolute;
  top: 21px;
  left: 35px;  
}