<div class="ack-content" fxLayout="column" fxLayoutAlign="start center">
  
  <div class="message">
    <p>
      This application is a recreation of the <i>Pokemon Master Trainer Board Game</i> made by Milton Bradley (now <a href="https://www.hasbro.com">Hasbro</a>). 
    </p>
    <p> <a href="https://www.hasbro.com/common/instruct/pokemon.pdf"> The official board game rules here. </a></p>
    <p>
      All artworks used in application came from following sources -(to our knowledge non-commercial use permitted for all).
    </p>
    <p> Artwork Credits:</p>
    <ul>
      <li><a href="http://sprites.pokecheck.org">Pokécheck</a></li>
      <li><a href="http://pokeapi.co">PokéAPI</a></li>
      <li><a href="http://www.pokestadium.com">Pokestadium</a></li>
      <li><a href="http://clipart-library.co">Clipart Library</a></li>
      <li><a href="https://www.flaticon.com">Flaticon</a></li>
      <li><a href="https://www.shutterstock.com">Shutterstock</a></li>
      <li><a href="https://roundicons.com">Roundicons</a></li>
    </ul>

    <p> Application creators: </p>
    <ul>
      <li><a href="https://github.com/Lindayezou">Linda Zou</a></li>
      <li><a href="https://github.com/aarti156">Arthi Palaniappan</a></li>
      <li><a href="https://github.com/chououtside">Alex Chou</a></li>
      <li><a href="https://hiteshlala.com">Hitesh Lala</a></li>
    </ul>
  </div>

  <div class="nav-back">
    <p> <a routerLink="/signin"><img src="game.png"> Home </a></p>
  </div>
  
</div>