.ack-content {
  font-size: 1.15em;
}

.message {
  max-width: var(--max-content-width);
}

.nav-back img {
  width: 20px;
  height: 20px;
  vertical-align: text-bottom;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #125986;
  text-decoration: none;
}