<hr>
<!  this section for drawing the board ->
<div ng-controller='boardController'>
  <p>Enter Spot To Move To: <input type='number' ng-keypress='inputValue($event)' ng-model='input'></p>
  <svg width='100%' height='500' >    
    <draw-path pathString='pathString'></draw-path>    
    
    <draw-spot ng-repeat='point in boardData' node-data='point'></draw-spot> 

    <draw-player player='playerName' position='playerPosition' board='boardData' class='player'></draw-player>
    
    <! testing tags below ->
<!--     <write-name data='boardData[0]'></write-data> -->
  </svg>

  <div class="game-status">
    <h3>Current Turn: Player Name</h3>
    <span>Roll Dice: </span><button ng-click="rollDice()">Roll Dice</button>
    <p>your roll is {{roll}}</p>
    <div class="player-options">
      <ul>
        <li ng-repeat="forwardOption in playerOptions[0]"><a href="javascript:void(0)" ng-click="movePlayer(forwardOption)">{{forwardOption}}</a></li>
      </ul>
      <ul>
        <li ng-repeat="backwardOption in playerOptions[1]"><a href="javascript:void(0)" ng-click="movePlayer(backwardOption)">{{backwardOption}}</a></li>
      </ul>
    </div>
    
  </div>
<hr>
<! this section for the control panel ->
<div>
  controll panel will go here
</div>


</div>
