<div>
  <div class="city">
  <br/>
    <h3>{{currentTurnPlayerName}} has triggered an event!</h3>
      <h3>{{gifDescrip}} = GIF DESC</h3>
  </div>
  <br/>
  <div class="city">
    <img src={{gifURL}} alt="Your brower does not support this functionality">
  </div>
  <br/>
  <div class="city" ng-if="currentTurnPlayerId===facebookId">
    <button class="tn-lg btn-primary" ng-click="updateTurn()">Continue</button>
  </div>
  <h6 class="city">The full functionalities of this page are still under development. Thank you for your understanding</h6>
</div>