<div>
  <div class="city">
  <br/>
    <h3>{{currentTurnPlayerName}} has triggered an event!</h3>
        <h3>{{gifDescrip}} = GIF DESC</h3>

     
  </div>
  <br/>
  <div class="city">
    <img src="http://cdn.makeagif.com/media/8-18-2015/oDlUKW.gif" alt="Pikachu Squad Dancing (HD)">
  </div>

  <div class="city">
    <img src={{gifURL}} alt="http://cdn.makeagif.com/media/8-18-2015/oDlUKW.gif">
  </div>

  <div ng-if="currentTurnPlayerId===facebookId">
    <button class="tn-lg btn-primary" ng-click="updateTurn()">Continue</button>
  </div>
</div>