

.login-box {
  text-align: center;
  width: 300px;
  /* background-color: rgba(121,201,250, 0.9 ); */
  background-color: rgba(125,173,113, 0.8);
  color: white;
  padding:5px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 20px;
}

.pokeball-wrapper {
  text-align: center;
}

.pokeball {
  -webkit-transform: rotate(19deg);  /* to support Safari and Android browser */
  -ms-transform: rotate(19deg);      /* to support IE 9 */
  transform: rotate(19deg);
  width: 300px;
  height: 300px;
  z-index: -1;

}

.credits {
  position: fixed;
  bottom:0;
  border-top: 1px solid #125986;
  width: 100%;
}
.credits p {
  color: darkgreen;
  text-align: center;
  font-size: 0.9em;
  max-width: 600px;
  margin: 0 auto;

  /* font-weight: bold; */
}
