:root {
  --height-of-navbar: 36px;
}

.flex-content {
  height: calc( 100vh - 36px );
  /* for some reason the calc( var ) is not working
  height: calc( 100vh - var(--height-of-navbar, 36px) ); 
  */
}

.pokeball-wrapper {
  width: 300px;
}

.pokeball {
  -webkit-transform: rotate(19deg);  /* to support Safari and Android browser */
  -ms-transform: rotate(19deg);      /* to support IE 9 */
  transform: rotate(19deg);
  width: 300px;
  height: 300px;
}

.login-box {
  text-align: center;
  width: 300px;
  background-color: rgba(125,173,113, 0.8);
  color: white;
  padding:5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.credits {
  width: 100%;
  margin-top: auto;
}

.credits p {
  color: white;
  text-align: center;
  font-size: 0.9em;
  max-width: 370px;
  margin: 0 auto;
  padding: 10px;
}

.other-contents p {
  margin: 0 auto;
  text-align: center;
  padding: 10px;
}